---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';

---

<html lang="en">
  <head>
    <MainHead title="About | Rob Howell" />
    <style lang="scss">
      .heroImg {
        object-fit: cover;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .bio {
        font-size: var(--f-u1);
        line-height: 2;
      }
    </style>
  </head>
  <body>
    <Nav />
    <div class="wrapper">
      <h1>About Rob</h1>

      <div class="heroImg">
        <img
          width="1600"
          height="450"
          src="https://source.unsplash.com/asZVvgMGshc/1400x450"
        />
      </div>
      
      <div class="bio wrapper wrapper__readable mt8">
        <p>
          Since studying computer science fundamentals at the University of St Andrews, my professional focus has been web application development. For the past nine years I’ve worked mostly in the finance sector, developing responsive modern web applications in large-scale projects that follow agile software development methodologies.
        </p>

        <p>
          From the start of my career, I’ve been passionate about working on the front end, so alongside an increasing breadth of full stack experience I’ve built expert front end skills and knowledge in areas such as accessibility, reusability through component libraries and a wide variety of testing approaches. The majority of projects that I’ve worked on since 2013 have been built using React on the front end and Node.js on the backend. I am an advocate of using automated testing, build pipelines and regular peer reviews to create well-tested, maintainable software.
        </p>

        <p>
          In my spare time, I enjoy woodworking, playing and writing music and spending time with my wife and family.
        </p>
      </div>
    </div>
    <Footer />
</body>
</html>
